:root {
    --red: #ff5959;
    --yellow: #facf5a;
    --teal: #49beb7;
    --dark-teal: #085f63;

    background-color: var(--yellow);
}

*{  
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
    box-sizing: border-box;
    font-size: 1.5rem; 
}

.container-fluid{
    margin: 0;
    padding: 0 !important;
    width: 100%;
    
}

.slides{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    background-color: var(--yellow);
    
}
.slides > div {
    width: 100%; 
    text-align: left; 
    max-width: 80%;

}
.secondary {
    justify-content: flex-start;
}

.tertiary {
    justify-content: flex-start;
    flex-direction: row;
}

.project {
    margin: 0 5px 10px 5px;
    min-width: 300px;
    max-width: 400px
}
.name {
    font-size: 2.5rem; 
    font-weight: bold;
    color: var(--red);
}
.titles{
    color: var(--dark-teal);
    font-weight: bold;
    padding-bottom: 2rem;
}
.project-title {
    font-size: 1.2rem;
    font-weight: bold;
}
.small-text {
    font-size: 1rem;
}

.project-skills {
    color: var(--red);
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.github-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
    padding: 4px;
}

.github-icon:hover {
    transform: scale(1.5); 
}
@media (max-width: 768px) {
    .project {
        flex: 1 1 100%; 
    }
}

