:root {
    --red: #ff5959;
    --yellow: #facf5a;
    --teal: #49beb7;
    --dark-teal: #085f63;

    background-color: var(--yellow);
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: "Courier New", Courier, monospace;
    font-size: 1.5rem; 
    position: relative;
}
.container {
    text-align: left; 
}
.name {
    font-size: 2.5rem; 
    font-weight: bold;
}
.flower {
    border-radius: 100%;
    width: 100px;  
    height: 100px; 
    position: absolute;
    transition: transform 0.3s ease;
}
.flower:hover{
    transform: scale(1.2);
}
.flower1{
    background-color: var(--dark-teal);
    border: 10px solid var(--teal);
    top: 200px;
    left: -200px;
}
.flower2{
    background-color: var(--teal);
    border: 20px solid var(--red);
    top: 500px;
    left: -400px;
}
.flower3{
    background-color: var(--red);
    border: 5px solid var(--dark-teal);
    top: 350px;
    left: -600px;
}
.flower4{
    background-color: var(--red);
    border: 5px solid var(--teal);
    top: 450px;
    left: 700px;
}
.flower5{
    background-color: var(--dark-teal);
    border: 20px solid var(--red);
    top: 300px;
    left: 900px;
}
.flower6{
    background-color: var(--teal);
    border: 10px solid var(--dark-teal);
    top: 600px; 
    left: 1100px;
}
.stem {
    width: 10px; 
    position: absolute;
}

.stem1 {
    top: 300px;  
    left: -145px; 
    height: 612px;
    background-color: var(--red);
}

.stem2 {
    top: 600px;  
    left: -335px;
    height: 312px; 
    background-color: var(--dark-teal);
}

.stem3 {
    top: 450px;  
    left: -550px;
    height: 462px; 
    background-color: var(--teal);
}

.stem4 {
    top: 550px;  
    left: 750px;
    height: 362px; 
    background-color: var(--dark-teal);
}

.stem5 {
    top: 430px;  
    left: 965px;
    height: 482px; 
    background-color: var(--teal);
}

.stem6 {
    top: 650px;  
    left: 1155px; 
    height: 262px;
    background-color: var(--red);
}
.leaf{
    position: absolute;
    background-color: var(--dark-teal);
    width: 80px; /* Size of the leaf */
    height: 50px; /* Size of the leaf */
    border-radius: 200px 0; /* Shape of the leaf */
    transform: rotate(45deg);
}
.leaf1 {
    top: 340px; 
    left: -127px; 
}

.leaf2 {
    top: 700px;
    left: -423px; 
    background-color: var(--teal);
    
}

.leaf3 {
    top: 500px; 
    left: -532px; 
    background-color: var(--red);
}

.leaf4 {
    top: 590px;
    left: 662px; 
    background-color: var(--red);
}

.leaf5 {
    top: 500px; 
    left: 983px; 
}

.leaf6 {
    top: 800px; 
    left: 1068px; 
    background-color: var(--teal);
}
